ion-card, .card-ios, .card-md {
    
    box-shadow: none !important;
    //border: 1px solid #DCDCDC;
    
    border: none !important;
    //border-style: none !important;
    //position: relative;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    // border-top: 3px solid colorofyourchosing
  }

  ion-label{
    text-align: center;
  }

  ion-row{
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
  }