<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" color="warning" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Completed order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items" >
    <ion-card-header>
      <!-- <ion-card-subtitle>Appointment Date: {{item.AppointmentDate}}</ion-card-subtitle> -->
      <ion-card-title>{{item.ServiceName}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Professional name: {{item.Customername}} 
    </ion-card-content>
    <ion-card-content>
      Professional Mobile: {{item.Customermobileno}}
    </ion-card-content>
    <ion-card-content>
      <!-- {{item.CustomerAddress}}  -->
      Appointment Date : {{item.AppointedDate}}
    </ion-card-content>
  </ion-card>

</ion-content>
