ion-icon {
    font-size: 35px; //Preferred size here,
    color: var(--ion-color-primary);
    //background-color: var(--ion-color-primary);
    padding-top: 9px;
}

ion-grid{
    margin-top: -15px;
    
}

ion-tab-button{
    position: absolute !important;
    bottom: 0.5vh;
    z-index: 999;
    height: auto;
  }

  h5{
      color: var(--ion-color-primary);
  }

  ion-card, .card-ios, .card-md {
    
    box-shadow: none !important;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    border-radius: 0px !important;
    //border: 0 !important;
    //border-style: none !important;
    //position: relative;
    text-align: center;
    
    // border-top: 3px solid colorofyourchosing
  } 

  ion-content{

    --ion-background-color: WhiteSmoke;
}