
 


<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="customerhomepage">
      <ion-icon name="home" class="ion-customcolor"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      
      <ion-icon name="apps" class="ion-customcolor"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificationcustomer" class="notification-button" >
      <ion-badge class="notifications-badge" >{{totalbadge}}</ion-badge>
      <ion-icon name="notifications" class="ion-customcolor">
        
      </ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
