ion-col{
    color: black;
    border: 1px solid black;
    }

.headercolor{
    color: whitesmoke;
}
.divheader{
    background-color: brown;
    height: auto;
    width: 100%;
    text-align: center;
}
.types{
    font-weight: bold;
}